/* let's try this */

.odd {
    background-color: rgb(255, 130, 130);
    font-family: "Verdana","Dejavu Sans", sans-serif;
}
#one {
    color: rgb(0, 0, 255);
    font-size: 36px;
}
.cooler { 
    font-size: 24px;
}
#another { background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;

}